<!DOCTYPE html>
<html lang="es">
<head>
  <title>OVI - INICIO</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Logo</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="inicio.view.html">Inicio</a></li>
        <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Lecturas
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="lectura1.view.html">Seguridad informática</a></li>
          <li><a href="lectura2.view.html">Tipos de seguridad informática</a></li>
          <li><a href="lectura3.view.html">Cómo funciona</a></li>
          <li><a href="lectura4.view.html">Para que sirve</a></li>
          <li><a href="lectura5.view.html">Ventajas y desventajas</a></li>
        </ul>
      </li>
        <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Multimedia
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="multimedia1.view.html">Multimedia-1</a></li>
          <li><a href="multimedia2.view.html">Multimedia-2</a></li>
        </ul>
      </li>
        <li><a href="nosotros.view.html">Nosotros</a></li>

      </ul>
      
    </div>
  </div>
</nav>
  
<div class="container-fluid text-center">    
  <div class="row content">
    <div class="col-sm-2 sidenav">
      <p><a href="#">Link</a></p>
      <p><a href="#">Link</a></p>
      <p><a href="#">Link</a></p>
    </div>
    <div class="col-sm-8 text-left"> 
      <h3>Cómo funciona la seguridad informática</h3>
      <p>Cuando hablamos de Seguridad Informática debemos comenzar desde las herramientas más sencillas, lo que todos conocemos, usamos y estamos acostumbrados a ver en nuestro ordenador. Hablo por supuesto de los anti-virus, existen miles de promesas, marcas y opciones, descargamos el que más nos convenza y ¡listo! Un paso dado en la dirección correcta.</p>
      <p><strong>Autenticación básica:</strong> consiste en exigir un usuario y una contraseña para permitir el acceso.</p>
      <p><strong>Autenticación media:</strong> exige aparte de usuario y contraseña, algo que le pertenece al usuario, por ejemplo, número de teléfono por el cual envía un código, numero de una tarjeta de identificación, etc.</p>
      <p><strong>Autenticación compleja:</strong> en este caso se le exige al usuario proporcionar algo intransferible como lo puede ser su huella dactilar, un scanner de retina que desbloquee el acceso.</p>
      <p>Estos son los métodos más útiles y eficaces al momento de limitar el acceso del ordenador a solo personal autorizado. Sin embargo, nada de esto protegerá tu sistema de contenido malicioso como troyanos y otras fuentes que representen amenazas potencialmente peligrosas para el funcionamiento óptimo del sistema. Para controlar esto, se utilizan anti virus especializados y sistemas de prevención de intrusos específicos que se encargaran de proteger de forma feroz cualquier intento de intrusión a cualquiera de los ordenadores que pertenezcan a la red garantizando así que todo vaya bien en la empresa y la producción se maximice.</p>
    </div>
    <div class="col-sm-2 sidenav">
      <div class="well">
        <p>ADS</p>
      </div>
      <div class="well">
        <p>ADS</p>
      </div>
    </div>
  </div>
</div>

<footer class="container-fluid text-center">
  <p>Footer Text</p>
</footer>

</body>
</html>