<!DOCTYPE html>
<html lang="es">
<head>
  <title>OVI - Lectura 1</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <img class="img-responsive" src="../images/logo_horizontal_unad_blanco.png" alt="Logo">
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="inicio.view.html">Inicio</a></li>
        <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Lecturas
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="lectura1.view.html">Seguridad informática</a></li>
          <li><a href="lectura2.view.html">Tipos de seguridad informática</a></li>
          <li><a href="lectura3.view.html">Cómo funciona</a></li>
          <li><a href="lectura4.view.html">Para que sirve</a></li>
          <li><a href="lectura5.view.html">Ventajas y desventajas</a></li>
        </ul>
      </li>
        <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Multimedia
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="multimedia1.view.html">Multimedia-1</a></li>
          <li><a href="multimedia2.view.html">Multimedia-2</a></li>
        </ul>
      </li>
        <li><a href="nosotros.view.html">Nosotros</a></li>

      </ul>
      
    </div>
  </div>
</nav>
  
<div class="container-fluid text-center">    
  <div class="row content">
    <div class="col-sm-2 sidenav">
      <p><a href="#">Link</a></p>
      <p><a href="#">Link</a></p>
      <p><a href="#">Link</a></p>
    </div>
    <div class="col-sm-8 text-left">
    <img class="img-responsive" src="../images/Logo2.jpg" alt="Security">
      <h3>Qué es seguridad informática:</h3>
      <p>La seguridad informática es un conjunto de herramientas, procedimientos y estrategias que tienen como objetivo garantizar la integridad, disponibilidad y confidencialidad de la información de una entidad en un sistema.</p>
      <p>La seguridad informática se caracteriza por la protección de datos y de comunicaciones en una red asegurando, en la medida de lo posible, los tres principios básicos:</p>
      <p><strong>La integridad de los datos:</strong> la modificación de cualquier tipo de información debe ser conocido y autorizado por el autor o entidad.</p>
      <p><strong>La disponibilidad del sistema:</strong> la operación continua para mantener la productividad y la credibilidad de la empresa.</p>
      <p><strong>La confidencialidad:</strong> la divulgación de datos debe ser autorizada y los datos protegidos contra ataques que violen este principio.</p>
      <p>La seguridad informática es una disciplina o rama de la Tecnología de la información, que estudia e implementa las amenazas y vulnerabilidades de los sistemas informáticos especialmente en la red como, por ejemplo, virus, gusanos, caballos de troya, ciber-ataques, ataques de invasión, robo de identidad, robo de datos, adivinación de contraseñas, intercepción de comunicaciones electrónicas, entre otros.</p>
    </div>
    <div class="col-sm-2 sidenav">
      <div class="well">
        <p>Tu visita es la número:</p>
        <div id="sfcdje2gjj6bn6pl12dq4ec8zcuqwt6nl3w"></div><script type="text/javascript" src="https://counter6.wheredoyoucomefrom.ovh/private/counter.js?c=dje2gjj6bn6pl12dq4ec8zcuqwt6nl3w&down=async" async></script><noscript><a href="https://www.contadorvisitasgratis.com" title="contador para web"><img src="https://counter6.wheredoyoucomefrom.ovh/private/contadorvisitasgratis.php?c=dje2gjj6bn6pl12dq4ec8zcuqwt6nl3w" border="0" title="contador para web" alt="contador para web"></a></noscript>
      </div>
      </div>
      <div class="well">
        <a class="twitter-timeline" href="https://twitter.com/UniversidadUNAD?ref_src=twsrc%5Etfw">Tweets by UniversidadUNAD</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    </div>
  </div>
</div>

<footer class="container-fluid text-center">
  <p>Fase 3</p>
  <p>Construcción: Crear un OVI en formato WEB con HTML5 y CSS3</p>
  <p>Curso: Diseños de Sitios Web</p>
  <p>Universidad Nacional Abierta y a Distancia - UNAD</p>
  <p>2019</p>
</footer>

</body>
</html>